.form {

    text-align: right;
}

.form button {

    font: inherit;
    cursor: pointer;
    background-color: #2c0d00;
    border: 1px solid #2c0d00;
    color: whitesmoke;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {

    background-color:#ffc72c;
    border-color: #ffc72c;
    color: #2c0d00;
}